In [1]:
import pandas as pd

In [24]:
filename = "platformio-device-monitor-210902-130858.log"
data = pd.read_csv(filename, names = ["time", "roll", "pitch", "yaw"], skiprows=1)
data.head()

              time  roll  pitch     yaw
0  13:08:58.893 >   0.23   0.37 -123.88
1  13:08:58.917 >   0.23   0.38 -123.87
2  13:08:58.941 >   0.23   0.39 -123.87
3  13:08:58.965 >   0.23   0.39 -123.87
4  13:08:58.989 >   0.23   0.39 -123.87

In [25]:
data['TIME'] = pd.to_datetime(data['time'].map(lambda x: x.rstrip(' > ')))
data.head()

              time  roll  pitch     yaw                    TIME
0  13:08:58.893 >   0.23   0.37 -123.88 2021-09-02 13:08:58.893
1  13:08:58.917 >   0.23   0.38 -123.87 2021-09-02 13:08:58.917
2  13:08:58.941 >   0.23   0.39 -123.87 2021-09-02 13:08:58.941
3  13:08:58.965 >   0.23   0.39 -123.87 2021-09-02 13:08:58.965
4  13:08:58.989 >   0.23   0.39 -123.87 2021-09-02 13:08:58.989

In [28]:
import csv
import datetime
import serial
import time

import tkinter as tk

# port = '/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0'
port = '/dev/ttyUSB0'
baud = 115200

df = pd.DataFrame(columns=["roll", "pitch", "yaw"])
ser = serial.Serial(port, baud, timeout=1)
ser.flushInput()
print(ser.name)
oldline = []
window = tk.Tk()
while True:
    try:
        #ser_bytes = ser.readline()
        #decode_bytes = float(ser_bytes[0:len(ser_bytes)-2].decode('utf-8'))
        #print(decode_bytes)

        line = ser.readline() # read bytes until line-ending
        line = line.decode(encoding='UTF-8') # convert to string
        #line = line.rstrip('\r\n') # Remove line-ending characters

        split_line = line.splitlines()
        print(time.time(), split_line[0].split[','])
        df.append(pd.DataFrame(split_line[0].split[','], columns=['Roll', 'Pitch', 'Yaw'], index=pd.Timestamp.now())
        if oldline != split_line:
            with open("test_data.csv", "a") as f:
                for item in split_line:
                    writer = csv.writer(f, delimiter = ",")
                    writer.writerow([time.time(), item])

        oldline = split_line
    except:
        print("Exiting")
        # print("Keyboard interrupt")
        break # updated so it doesn't quit.

/dev/ttyUSB0